[Unit]
Description=Check if the current NetworkManager connection is metered

[Service]
Type=oneshot
ExecStart={{ INSTALL_PREFIX }}/bin/nm-unmetered-connection.sh
