[Unit]
Description=Check if the current NetworkManager connection is metered

[Service]
Type=oneshot
ExecStart=$INSTALL_PREFIX/sbin/nm-unmetered-connection.sh
