[Unit]
Description=Check if the current NetworkManager connection is metered

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/nm-unmetered-connection.sh

