[Unit]
Description=Check restic backup Backblaze B2 for errors
OnFailure=status-email-user@%n.service
Conflicts=restic.service

[Service]
Type=simple
Nice=10
ExecStart=/usr/local/sbin/restic_check.sh
EnvironmentFile=-/etc/restic/_global.env
EnvironmentFile=/etc/restic/%I.env