[Unit]
Description=Check restic backup Backblaze B2 for errors on a schedule
Requires=unmetered-connection.service
After=unmetered-connection.service

[Timer]
OnCalendar=monthly
Persistent=true

[Install]
WantedBy=timers.target
