[Unit]
Description=Backup with restic to Backblaze B2
OnFailure=status-email-user@%n.service

[Service]
Type=simple
Nice=10
ExecStart=/usr/local/sbin/restic_backup.sh
EnvironmentFile=-/etc/restic/_global.env
EnvironmentFile=/etc/restic/%I.env