[Unit]
Description=Backup with restic on schedule
Requires=nm-unmetered-connection.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
