[Unit]
Description=Backup with restic on schedule
Requires=unmetered-connection.service
After=unmetered-connection.service

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
